.text-align-right{
  text-align: right;
}


@media (min-width: 768px) {
  .text-align-right{
    text-align: right;
  }
}

@media (max-width: 576px) {
  .text-align-right{
    text-align: left;
  }
}


