<div *ngIf="!loaded">{{ loadingMessage }}</div>
<div *ngIf="loaded && formSavedMessage">
  <div class="alert alert-success" role="alert">{{ formSavedMessage }}</div>
</div>
<div *ngIf="loaded && formErrorMessage">
  <div class="alert alert-danger" role="alert">{{ formErrorMessage }}</div>
</div>
<div class="controller" *ngIf="loaded">
  <div class="container">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.value)" novalidate>
      <div class="container">
        <app-form-control-field [formSubmitStatus]="formSubmitStatus" placeholder="Username"
                                controlName="username"
                                [form]="signUpForm">
        </app-form-control-field>
        <app-form-control-field
          [formSubmitStatus]="formSubmitStatus"
          placeholder="Email"
          controlName="email"
          [form]="signUpForm">
        </app-form-control-field>
        <app-form-control-field
          [formSubmitStatus]="formSubmitStatus"
          placeholder="First Name"
          controlName="firstname"
          [form]="signUpForm">
        </app-form-control-field>
        <app-form-control-field
          [formSubmitStatus]="formSubmitStatus"
          placeholder="Last Name"
          controlName="lastname"
          [form]="signUpForm">
        </app-form-control-field>
        <app-form-control-field
          [formSubmitStatus]="formSubmitStatus"
          placeholder="Password"
          controlName="password"
          inputType="password"
          [form]="signUpForm">
        </app-form-control-field>
        <app-form-control-field
          [formSubmitStatus]="formSubmitStatus"
          placeholder="Confirm Password"
          controlName="confirmPassword"
          inputType="password"
          [form]="signUpForm">
        </app-form-control-field>
      </div>

      <div class="container">
        <div class="d-flex justify-content-sm-center">
          <div class="m-2 text-center">
            <input type="submit" class="btn btn-primary" value="Sing Up">
          </div>
          <div class="m-2 text-center">
            <input type="reset" (click)="reset()" class="btn btn-secondary" value="Reset form">
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
