<app-two-col-row label="Transaction ID:" [val]="transaction.txId"></app-two-col-row>
<app-two-col-row label="Block hash:" [val]="transaction.blockHash"></app-two-col-row>
<app-two-col-row label="Block index:" [val]="transaction.blockIndex"></app-two-col-row>
<app-two-col-row label="From:" [val]="transaction.from"></app-two-col-row>
<app-two-col-row label="To:" [val]="transaction.to"></app-two-col-row>
<app-two-col-row label="Amount:" [val]="transaction.amount"></app-two-col-row>
<app-two-col-row label="Confirmations:" [val]="transaction.confirmations"></app-two-col-row>

