<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="header">
    <div class="container">
      <div class="app-title lg float-left">
        <a routerLink=""><img src="../assets/slate-logo.svg">{{ title }}</a>
      </div>
      <div class="float-right auth-buttons">
        <nav class="nav nav-pills login-logout justify-content-end" *ngIf="!isAuthenticated">
          <a class="login btn btn-info nav-item nav-link" [routerLink]="['auth','login']" routerLinkActive="active">Login</a>
          <a class="signup btn btn-primary  nav-item nav-link" [routerLink]="['auth','signup']" routerLinkActive="active">Signup</a>
        </nav>
        <nav class="nav nav-pills login-logout justify-content-end" *ngIf="isAuthenticated">
          <a class="logout btn btn-secondary nav-item nav-link" (click)="logout()" routerLinkActive="active">Logout</a>
        </nav>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="container">
    <ul class="nav nav-tabs main-nav-bar">
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" [routerLink]="['wallet']" routerLinkActive="active">Wallet</a>
      </li>
    </ul>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  <footer class="p-3 mt-3 bg-dark text-white text-center">
    Test task for Slate Studio. Developed by Ruslan Sheremet
  </footer>
</div>

