<div class="container">
  <h1 class="align-center">Test Assignment</h1>
  <h2>Full Stack JavaScript</h2>
  <p>To get started, read these two articles for building “the tiniest blockchain”:</p>
  <p>Part 1: http://bit.ly/2AUFic6</p>
  <p>Part 2: http://bit.ly/2AWktNu</p>
  <p>Your task is to make your own implementation of “the tiniest blockchain” in ES2017 with Node.js distributed in a docker image.
    You should build two things:</p>
  <p>Basic version of the blockchain, as described in the above articles</p>
  <p>Frontend wallet application (not described in article), that allows a person to track account balance, transfer coins to another account, and show transactions history.
    You will be evaluated by your use of classes, async, test coverage (Istanbul + eslint), use of linter (or eslint or other for ES2017), use of OpenAPI Specifications (Swagger), and how the application looks and feels. Choose any database you prefer.</p>
  <p>You can use third-party libraries and frameworks to simplify your work.</p>
</div>
